html, body, #sidebar, #map {
    margin: 0;
    padding: 0;
    height: 100%;
}

html, body {
    width: 100%;
}

#sidebar {
    width: 400px;
    float: left;
    padding: 15px;
    padding-right: 0px;
}

.sidebar-header {
    height: 80px;
}

.results {
    position: absolute;
    top: 100px;
    bottom: 0px;
    overflow-y: auto;
    width: 380px;
}

#sidebar h3 {
    color: #636363;
    font-size: 90%;
}

#map {
    margin-left: 400px;
}

#no-results, #results {
    display: none;
}

.place {
    background-color: #f5f5f5;
    padding: 2px;
    margin-bottom: 3px;
}

.place p {
    margin-bottom: 3px;
}

.place-type {
    color: #737373;
    font-size: 85%;
}

.zoom-to {
    font-size: 85%;
}

.coordinates {
    font-size: 90%;
}

.clear {
    clear: both;
}

.loading {
    color: #3a7316;
}

.selected-place {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
}
